@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: "Poppins", sans-serif;
	/* outline: 1px dotted red; */
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: #dde1e1;
}

nav:first-child {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px 30px;
	color: #fff;
	background-color: #0f1011;
}

nav img {
	width: 120px;
	cursor: pointer;
}

nav #address p {
	font-size: 1vw;
	text-align: right;
}

nav p {
	font-size: 1vw;
	cursor: pointer;
}

nav h3 {
	font-size: 1.5vw;
	font-weight: 300;
	cursor: pointer;
}

nav form {
	height: 3.5vw;
	width: 40vw;
	display: flex;
	align-items: center;
}

nav form #opt {
	height: 100%;
	padding: 0 0.6vw;
	display: flex;
	align-items: center;
	gap: 5px;
	text-transform: capitalize;
	color: #000;
	background-color: #e1e1e1;
	cursor: pointer;
}

#opt p {
	font-size: 1.3vw;
}

#opt i {
	font-size: 1vw;
}

form input {
	height: 100%;
	width: 85%;
	padding: 5px 5px;
	border: none;
	font-size: 16px;
}

form input::placeholder {
	text-transform: capitalize;
}

form input:focus {
	outline: none;
}

#icon {
	height: 100%;
	width: 2.8vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5vw;
	color: #000;
	background-color: #fbb35e;
	cursor: pointer;
}

#cart {
	display: flex;
	align-items: baseline;
	gap: 5px;
	cursor: pointer;
}

#cart i {
	font-size: 3vw;
}

nav:last-child {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 4.5vw;
	font-size: 1.2vw;
	color: #fff;
	background-color: #202933;
}

nav ul:first-child {
	display: flex;
	align-items: center;
	column-gap: 5vw;
	text-transform: capitalize;
}

#menu {
	display: flex;
	align-items: center;
	gap: 0.5vw;
	cursor: pointer;
}

nav ul:nth-child(2) {
	display: flex;
	align-items: center;
	column-gap: 1.5vw;
}

nav ul:nth-child(2) li {
	cursor: pointer;
}

nav p {
	font-size: 1.2vw;
	cursor: pointer;
}

#page1 {
	position: relative;
	height: 45vh;
	width: 100%;
	background-image: url(https://m.media-amazon.com/images/I/61P7hqIHrdL._SX3000_.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000;
}

#msg {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 2vw;
	height: 2vw;
	width: 90%;
	font-size: 1.1vw;
	text-align: center;
	background-color: #fff;
}

#msg span {
	color: #00a35f;
	cursor: pointer;
}

#collections {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 20px 0;
	background-color: #dde1e1;
}

.collection {
	height: 26vw;
	width: 23vw;
	margin-bottom: 20px;
	padding: 15px 10px 0px;
	background-color: #fff;
}

.collection h1 {
	font-size: 1.5vw;
	margin-bottom: 10px;
}

.collection a {
	color: rgb(0, 132, 255);
}

.imgs {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 15px;
	gap: 10px;
}

.imgs p,
.imgas p {
	color: #000;
}

.img a {
	color: aqua;
}

.gaming .imgs {
	margin-bottom: 12px;
}

.gaming .img img {
	width: 10.25vw;
}

.clothes .imgs {
	margin-bottom: 12px;
}

.clothes .img img {
	height: 8vw;
	width: 10vw;
}

.cpu .img {
	margin-bottom: 12px;
}

.p {
	font-size: 1.2vw;
}

.cpu .img img {
	width: 21.3vw;
}

.trackers h1 {
	line-height: 20px;
}

.imgas {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.im {
	margin-right: 10px;
}

.nim {
	margin-right: 0;
}

.kitchen .img img {
	width: 10.25vw;
}

.kitchen .img {
	margin-bottom: 12px;
}

.gadget .img.bgimg img {
	width: 21.3vw;
}

.gadget .img img {
	width: 6.58vw;
}

.img p {
	font-size: 1vw;
}

#scroller {
	margin: 20px;
	padding: 10px;
	background-color: #fff;
}

#scroller h1 {
	font-size: 1.6vw;
}

.scroll {
	display: flex;
	align-items: center;
	gap: 20px;
	overflow-x: scroll;
}

.scroll img {
	height: 12vw;
	margin-bottom: 10px;
	cursor: pointer;
}

.scroll::-webkit-scrollbar {
	height: 8px;
	border-radius: 10px;
	background-color: #b1b1b1;
}

.scroll::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 10px;
}

#bgsinin {
	padding: 3vw 0;
	background-color: #fff;
}

#signin {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 3vw;
	outline: 1px solid #00000040;
}

#signin p {
	font-size: 1vw;
}

#signin button {
	padding: 5px 7vw;
	border: 1px solid yellow;
	border-radius: 5px;
	font-size: 1vw;
	font-weight: 600;
	background: linear-gradient(
		goldenrod,
		rgba(255, 255, 255, 0.4),
		goldenrod,
		goldenrod,
		goldenrod
	);
	cursor: pointer;
}

a #btt {
	padding: 15px 0;
	text-align: center;
	font-size: 1.2vw;
	color: #fff;
	background-color: #37475a;
}

#ufooter {
	background-color: #232f3e;
}

.texts {
	display: flex;
	align-items: start;
	justify-content: space-around;
	padding: 3vw 10vw;
	color: #fff;
}

.text:last-child {
	width: 14vw;
}

.text h4 {
	margin-bottom: 10px;
	cursor: pointer;
}

.text p {
	font-weight: 100;
	line-height: 20px;
	margin-bottom: 10px;
	cursor: pointer;
}

#footer {
	display: flex;
	align-content: center;
	justify-content: center;
	column-gap: 30px;
	padding: 3vw;
}

#footer button {
	display: flex;
	align-items: center;
	column-gap: 10px;
	padding: 5px 10px;
	border: 1px solid #fff;
	border-radius: 2px;
	color: #fff;
	background-color: transparent;
}

#footer img,
#footer button:last-child,
#footer button:nth-child(3) {
	cursor: pointer;
}

.fw {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 3vw;
	column-gap: 4vw;
	padding: 2vw 10vw;
	color: #fff;
	background-color: #131a22;
}

.f {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	row-gap: 5px;
}

.fw h5 {
	margin-bottom: -5px;
	font-size: 1vw;
	font-weight: 100;
	cursor: pointer;
}

.fw p {
	margin-bottom: -5px;
	font-size: 0.9vw;
	color: #c1c1c1;
	cursor: pointer;
}

#df {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2vw;
	font-size: 1vw;
	color: #fff;
	background-color: #131a22;
}

#df ul {
	display: flex;
	align-content: inherit;
	row-gap: 20px;
	column-gap: 20px;
}

#df ul li {
	cursor: pointer;
}