nav:first-child {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	color: #fff;
	background-color: #131921;
}

nav img {
	width: 85px;
	cursor: pointer;
}

nav p {
	cursor: pointer;
	margin-bottom: -5px;
}

nav h3 {
	cursor: pointer;
}

nav #address {
	display: flex;
	align-items: end;
	column-gap: 5px;
}

nav #address #text {
	display: flex;
	flex-direction: column;
}

nav #address p {
	font-size: 10px;
	font-weight: 100;
	margin-bottom: -5px;
	margin-right: -10px;
}

nav #address h3 {
	font-size: 14px;
	font-weight: 100;
	text-align: right;
}

nav #search {
	height: 35px;
	width: 600px;
	display: flex;
	align-items: center;
}

#categories {
	position: relative;
	height: 100%;
	padding: 0 10px;
	text-transform: capitalize;
	border-radius: 5px 0 0 5px;
	color: #757575;
	background-color: #e1e1e1;
	cursor: pointer;
}

#categories summary {
	height: 100%;
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 12px;
}

#categories i {
	font-size: 14px;
}

#categories ul {
	height: 420px;
	width: 200px;
	position: absolute;
	left: 0;
	display: flex;
	flex-direction: column;
	color: #000;
	background-color: #fff;
	z-index: 50;
	overflow-y: auto;
	border: 1px solid #000;
	box-shadow: 0 0 15px solid #000, 0 0 15px solid #000;
}

#categories ul li {
	width: 100%;
	padding: 0 5px;
	font-size: 14px;
	text-align: left;
}

#categories ul li:hover {
	color: #fff;
	background-color: rgb(0, 132, 255);
}

#search input {
	height: 100%;
	width: 85%;
	padding: 5px;
	border: none;
	font-size: 14px;
}

#search input::placeholder {
	text-transform: capitalize;
	font-weight: 100;
}

#search input:focus {
	outline: none;
}

#icon {
	height: 100%;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5vw;
	border-radius: 0 5px 5px 0;
	color: #000;
	background-color: #fbb35e;
	cursor: pointer;
}

#lang {
	display: flex;
	align-items: last baseline;
	gap: 5px;
	cursor: pointer;
}

#lang img {
	width: 20px;
}

#lang h2 {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 16px;
}

#acc p {
	font-size: 10px;
}

#acc h3 {
	font-size: 14px;
	font-weight: 100;
}

#order p {
	font-size: 10px;
}

#order h3 {
	font-size: 14px;
	font-weight: 100;
}

#cart {
	display: flex;
	align-items: baseline;
	cursor: pointer;
}

#cart i {
	font-size: 25px;
}

#cart h3 {
	font-size: 14px;
	font-weight: 100;
}

#nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 20px;
	font-size: 1.2vw;
	font-weight: 100;
	color: #fff;
	background-color: #202933;
}

#nav ul:first-child {
	display: flex;
	align-items: center;
	column-gap: 30px;
	text-transform: capitalize;
}

#menu {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}

#nav #menu p {
	margin-top: -5px;
	font-size: 14px;
}

#nav ul:nth-child(2) {
	display: flex;
	align-items: center;
	column-gap: 20px;
}

#nav ul:nth-child(2) li {
	cursor: pointer;
	font-size: 12px;
	font-weight: 100;
}

#overlap {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: none;
	z-index: 99;
	background-color: #00000090;
}

#sidenav {
	position: fixed;
	top: 0;
	left: -400px;
	height: 100vh;
	width: 350px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	z-index: 100;
	transition: left 0.2s ease;
}

#close {
	position: absolute;
	top: 10px;
	left: 370px;
	font-size: 25px;
	color: #fff;
	cursor: pointer;
}

#sidenav h1 {
	padding: 10px 30px;
	font-size: 25px;
	font-weight: 100;
	color: #fff;
	background-color: #202933;
}

#roverlay {
	height: 100%;
	width: 100%;
}
