#overlap{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 99;
    background-color: #00000090;
}

#sidenav{
    position: fixed;
    top: 0;
    left: -400px;
    height: 100vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 100;
    transition: left 0.2s ease;
}

#close{
    position: absolute;
    top: 10px;
    left: 370px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

#sidenav h1{
    padding: 10px 30px;
    font-size: 25px;
    font-weight: 100;
    color: #fff;
    background-color: #202933;
}