@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
	/* outline: 1px dotted red; */
	font-family: "Poppins", sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: #dde1e1;
}

#page1 {
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url(https://m.media-amazon.com/images/I/61P7hqIHrdL._SX3000_.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000;
	z-index: 0;
}
/* 
#msg {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 2vw;
	height: 2vw;
	width: 90%;
	font-size: 1.1vw;
	text-align: center;
	background-color: #fff;
}

#msg span {
	color: #00a35f;
	cursor: pointer;
} */

#container {
	position: relative;
	margin-top: -350px;
	z-index: 20;
	width: 100%;
}

#collections {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 20px 0;
}

.collection {
	height: 26vw;
	width: 23vw;
	margin-bottom: 20px;
	padding: 15px 10px 0px;
	background-color: #fff;
}

.collection h1 {
	font-size: 1.5vw;
	margin-bottom: 10px;
}

.collection a {
	color: rgb(0, 132, 255);
}

.imgs {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 15px;
	gap: 10px;
}

.imgs p,
.imgas p {
	color: #000;
}

.img a {
	color: aqua;
}

.gaming .imgs {
	margin-bottom: 12px;
}

.gaming .img img {
	width: 10.25vw;
}

.clothes .imgs {
	margin-bottom: 12px;
}

.clothes .img img {
	height: 8vw;
	width: 10vw;
}

.cpu .img {
	margin-bottom: 12px;
}

.p {
	font-size: 1.2vw;
}

.cpu .img img {
	width: 21.3vw;
}

.trackers h1 {
	line-height: 20px;
}

.imgas {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.im {
	margin-right: 10px;
}

.nim {
	margin-right: 0;
}

.kitchen .img img {
	width: 10.25vw;
}

.kitchen .img {
	margin-bottom: 12px;
}

.gadget .img.bgimg img {
	width: 21.3vw;
}

.gadget .img img {
	width: 6.58vw;
}

.img p {
	font-size: 1vw;
}

#scroller {
	margin: 20px;
	padding: 10px;
	background-color: #fff;
}

#scroller h1 {
	font-size: 1.6vw;
}

.scroll {
	display: flex;
	align-items: center;
	gap: 20px;
	overflow-x: scroll;
}

.scroll img {
	height: 12vw;
	margin-bottom: 10px;
	cursor: pointer;
}

.scroll::-webkit-scrollbar {
	height: 8px;
	border-radius: 10px;
	background-color: #b1b1b1;
}

.scroll::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 10px;
}
